* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 16px sans-serif;
  background: #fff;
}

a {
  color: #FC643B;
  text-decoration: none;
}

a:hover {
  font-style: italic;
  color: #2798FE;
}

.onpage {
  color: #555;
  text-decoration: none;
}

.onpage:hover {
  color: #555;
  font-style: normal;
}

img {
  max-width: 100%;
  margin-bottom: 1em;
  margin-top: 1em;
}

.wrapper {
  min-height: 100%;
  padding: 1em 1em 10em 1em;
  margin: 0 auto;
  width: 40em;
}

.nav {
  display: inline-block;
  font-size: 1.2em;
  top: 0;
  width: 100%;
  margin-bottom: 1.5em;
  padding-top: 10px;
  color: #555;
}


.nav a {
  margin-right: .5em;
  margin-bottom: 0;
  float: right;

  
}

.nav b {
  margin-right: .5em;
  float: left;

}

.content {
  display: inline-block;
}

.content ul {
  list-style-type: none;
  margin-left:15px;
}

.content ul li {
  margin-bottom: .5em;
}

.content ul li:before {
    content: "\00BB \0020";
}
.content p {
  line-height: 150%;
}

.portrait {
  border-radius: 50%;
  width: 15em;
  display: block;
  margin: auto;
}

.booklist {
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr .6fr .25fr 50px;
}

.booklist .rating {
  justify-self: center;
}

.booklist .date {
  padding-right: 1em;
}
