.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
  background-color: #ffeead;
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: #ffeead; 
}


.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 100px;
    grid-template-areas: 
        ". . h h h h h h h h . ."
        ". . . . c c c c . . . ."
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
    border-style: solid;
}

.footer {
    grid-area: f;
}