.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
  background-color: white;
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: white; 
}


.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
        ". . . . . t t . . . . ."
        ". . . . h h h h . . . ."
        ". . . . c c c c . . . ."
        ". . . . q q q q . . . .";
}

.title {
    grid-area: t;
    border-style: solid;
    align-content: center;
}

.header {
    grid-area: h;
    align-content: center;

}

.content {
    grid-area: c;
    border-style: solid;
    align-content: center;
    padding: 10px;

}

.content2 {
    grid-area: q;
    align-content: center;
    padding: 10px;
    border-style: solid;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.li {
    float: left;
    list-style-type: none;
}

.a {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

