.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
  background-color: white
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: white; 
}


.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
        ". . . . . t t . . . . ."
        ". . h h h h h h h h . ."
        ". . . . c c c c . . . ."
        ". . . . f f f f . . . ."
        ". . . . m m m m . . . ."
        ". . . . b b b b . . . .";
}

.title {
  grid-area: t;
  border-style: solid;
  align-content: center;
}

.header {
    grid-area: h;
}


.content3 {
    grid-area: b;
    align-content: center;
    border-style: solid;
    padding: 10px;
}

.content2 {
    grid-area: m;
    align-content: center;
    border-style: solid;
    padding: 10px;
}

.content {
    grid-area: c;
    align-content: center;
    border-style: solid;
    padding: 10px;
}

.content5 {
    grid-area: f;
    align-content: center;
    border-style: solid;
    padding: 10px;
}

.content4 {
    grid-area: b;
    align-content: center;
    align-items: center;

}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.li {
    float: left;
    list-style-type: none;
}

.a {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.ul2 {
    margin: 10px;
    padding: 10px;
  }

  .p {
    align-content: center;

  }

  .ulnew {

    margin: 10px;
    padding: 10px;

}

.linew {
    float: left;
}





