.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
  background-color: #ffeead;
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: #ffeead; 
}


.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 100px;
    grid-template-areas: 
        ". . h h h h h h h h . ."
        "m m m m c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
}


.content {
    grid-area: c;
}

.content2 {
    grid-area: f;
}

.ul {
    padding: 0;*/
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.li {
    float: left;
}

.a {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.acontent {
    display: inline-block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}



