.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #ffeead;
}

html, body {
  background-color: #ffeead;
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: black  
}

/*.container > div:nth-child(3n) {
  background-color: black;
}

.container > div:nth-child(2n) {
      background-color: black;
}

.container > div:nth-child(4n) {
      background-color: black;
}*/

.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px auto 40px;
}

.header {
    grid-column: 1 / -1;
}

.menu {}

.content {}

.footer {
  grid-column: 1 / -1;
}
