---
layout: default
---
<article class="post h-entry">
  <header class="post-header">
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </p>
    <h1 class="post-title p-name">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
  </header>

  {%- comment -%} Add tags with a hashtag {%- endcomment -%}
  {%- if page.tags -%}
    {% for tag in page.tags %}
        <a href="{{site.baseurl}}/archive.html#{{tag | slugize}}">
            #{{ tag }}
        </a>
    {% endfor %}
{%- endif -%}

  <div class="post-content e-content">
    {{ content }}
  </div>
</article>